.card{
        text-align: center;
        background-color: black;
        color: beige;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
}